$primary : skyblue;
$secondary: blue;
$ok: rgb(0, 0, 0);

$m1: 10px;
$m2: 20px;
$m3: 30px;
$m4: 40px;

$boxshadow: 2px 2px 2px rgb(175, 175, 175), -2px -2px 2px rgb(73, 73, 73);
$boxshadowInset: inset 2px 2px 2px rgb(175, 175, 175), inset -2px -2px 2px rgb(73, 73, 73);
$boxshadowLight: 2px 2px 2px #d0d0d0, -2px -2px 2px #f8f8f8;
$boxshadowLightInset: inset 2px 2px 2px #d0d0d0, inset -2px -2px 2px #f8f8f8;

$heightFooter: 50px;

$competences:
    html 80%,
    wordpress 50%,
    javascript 70%,
    php 70%,
    symfony 30%;

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
    background-color: #eff0f4;
}

.burger {
    height: 35px;
    width: 35px;
    position: fixed;
    margin-top: $m3;
    margin-left: $m2;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    justify-content: center;
    border-radius: 50%;

    span {
        width: 15px;
        height: 2px;
        background-color: $primary;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &::before, &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $primary;
            transition: transform 0.5s ease-in-out;
        }

        &::before {
            transform: translate3d(-3px, -4px, 0px) rotate(-45deg) scale(0.7, 1);
        }
        
        &::after {
            transform: translate3d(-3px, 4px, 0px) rotate(45deg) scale(0.7, 1);
        }
    }
}

.hide_menu span {
    &::before {
        transform: translateY(-5px);
    }
    
    &::after {
        transform: translateY(5px);
    }
}

.burger_shadow {
    box-shadow: $boxshadowInset;
    
    &:hover {
        box-shadow: $boxshadow;
    }   
}

.burger_light_shadow {
    box-shadow: $boxshadowLight;

    &:hover {
        box-shadow: $boxshadowLightInset;
    }
}

.menu_container {
    height: 100%;
    width: 150px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    transition: margin-left 1.5s;
    position: fixed;
    z-index: 1;
    border-radius: 0% 100% 65% 0%/0% 75% 55% 0%;
    overflow-y: auto;
    overflow-x: hidden;
}

.show_menu {
    margin-left: -150px;
}

.menu {
    min-height: 530px;
    display: flex;
    align-items: center;
}

.link_menu {
    width: 110px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    border-radius: 20px;
    margin: 20px 0;
    // box-shadow: $boxshadowInset;
    cursor: pointer;

    a {
        display: block;
    }
}

.link_menu:hover {
    color: white;
    background-color: $primary;
    // box-shadow: $boxshadow;
}

.active {
    // box-shadow: $boxshadow;
    text-decoration: underline;
}

.container {
    min-height: calc(100vh - 90px);
    padding-top: $m4;
    padding-left: $m3;
    padding-right: $m3;
}

.contain {
    margin: auto;
    max-width: 1250px;
    min-height: calc(100vh - 90px);
}

.title {
    width: auto;
    margin-bottom: $m2;
}


/************************  HOME  ************************/


.container_home {
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ),
    url('./../../assets/images/image_home.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}

.contain_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p, img {
        margin-bottom:$m2;
    }
}

.home_img {
    border-radius: 50%;
    filter: brightness(0.8);
}

.btn {
    width: 100px;
    height: 30px;
    color: $primary;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: $boxshadowLight;

    &:hover {
        box-shadow: $boxshadowLightInset;
    }
}


/************************  PROJECTS  ************************/


.contain_projects, .contain_comp, .contain_contact {
    @extend .contain_home;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    height: 300px;
    width: auto;
    position: relative;
    margin: 0 $m1 $m2;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 7px 7px 7px #a5a5a5, -7px -7px 7px #d4d4d4;

    img {
        transition: all 1s;
    }

    &:hover .card_text {
        opacity: 1;
    }

    &:hover img {
        transform: scale(1.1);
    }
}

.card_text {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
}


/************************  COMPETENCES  ************************/


.competences {
    margin-top: 60px;
    margin-bottom: $m2;
    width: 100%;
}

.competences_graph_title {
    text-align: center;
}

.bar_competences {
    width: 500px;
    height: $m3;
    margin: $m1 auto $m2;
    border-radius: $m1;
    box-shadow: $boxshadowLight;


    div {
        height: $m3;
        background-color: $primary;
        border-radius: $m1;       
    }
}

@each $competence in $competences {
    .#{nth($competence, 1 )} {
        width: #{nth($competence, 2 )};
    }
}

/************************  CONTACT  ************************/

.contain_contact h1 {
    height: 50px;
    line-height: 50px;
}

.message_submitted {
    background-color: rgba(169, 247, 169, 0.5);
    color: #3b8416;
    width: 300px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    font-weight: bold;
    display: none;
    margin-bottom: 0!important;
}

.message_error {
    @extend .message_submitted;
    background-color: rgba(255, 0, 0, 0.6);
    color: rgb(185, 8, 8);
    width: 400px;
}

.contain form {
    margin-top: $m4;
    margin-bottom: $m2;
    width: 75%;
    display: grid;
    grid-column-gap: 10px;
    grid-template-areas: 
        "a b"
        "c c"
        "d d";
}

.contact_name {
    grid-area: a;
}

.contact_email {
    grid-area: b;
}

.contact_message {
    grid-area: c;
}

.contact_submit {
    grid-area: d;
    width: 100px;
    margin: auto;
}

.form_input {
    height: 35px;
    width: 100%;
    margin-bottom: $m1;
    padding-left: 10px;
    border-radius: 5px;
    outline-style:none;
    box-sizing: border-box;
    border: none;
    box-shadow: $boxshadowLight;

    &:focus {
        box-shadow: $boxshadowLightInset;
    }
}

.form_textarea {
    @extend .form_input;
    height: 200px;
    resize: none;
}

.form_submit{
    @extend .btn;
    outline-style:none;
    margin: auto !important;
    color: black;
    background-color: white;
}

::placeholder {
  color: black;
}

.form_error {
    color: red;
}


/************************  FOOTER  ************************/

.footer {
    width: 100%;
    height: $heightFooter;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin-left:$m2;
        margin-right:$m2;
    }
}