h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #eff0f4;
}

.burger {
  height: 35px;
  width: 35px;
  position: fixed;
  margin-top: 30px;
  margin-left: 20px;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.burger span {
  width: 15px;
  height: 2px;
  background-color: skyblue;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.burger span::before, .burger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: skyblue;
  transition: transform 0.5s ease-in-out;
}
.burger span::before {
  transform: translateY(-5px);
}
.burger span::after {
  transform: translateY(5px);
}

.hide_menu span::before {
  transform: translate3d(-3px, -4px, 0px) rotate(-45deg) scale(0.7, 1);
}
.hide_menu span::after {
  transform: translate3d(-3px, 4px, 0px) rotate(45deg) scale(0.7, 1);
}

.burger_shadow {
  box-shadow: 2px 2px 2px #d0d0d0, -2px -2px 2px #f8f8f8;
}
.burger_shadow:hover {
  box-shadow: inset 2px 2px 2px #d0d0d0, inset -2px -2px 2px #f8f8f8;
}

.burger_dark_shadow {
  box-shadow: inset 2px 2px 2px #afafaf, inset -2px -2px 2px #494949;
}
.burger_dark_shadow:hover {
  box-shadow: 2px 2px 2px #afafaf, -2px -2px 2px #494949;
}

.menu_container {
  height: 100%;
  width: 150px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  transition: margin-left 1.5s;
  position: fixed;
  z-index: 1;
  border-radius: 0% 100% 65% 0%/0% 75% 55% 0%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: -150px;
}

.show_menu {
  margin-left: 0;
}

.menu {
  min-height: 530px;
  display: flex;
  align-items: center;
}

.link_menu {
  width: 110px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  border-radius: 20px;
  margin: 20px 0;
  cursor: pointer;
}
.link_menu a {
  display: block;
}

.link_menu:hover {
  color: white;
  background-color: skyblue;
}

.active {
  text-decoration: underline;
}

.disabled {
  pointer-events: none;
}

.container {
  min-height: calc(100vh - 150px);
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
}

.contain {
  margin: auto;
  max-width: 1250px;
  min-height: calc(100vh - 150px);
}

.title {
  width: auto;
  margin-bottom: 20px;
}

/************************  HOME  ************************/
.container_home {
  background: url("./../../assets/images/image_home.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}

.contain_home, .contain_projects, .contain_comp, .contain_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contain_home p, .contain_projects p, .contain_comp p, .contain_contact p, .contain_home img, .contain_projects img, .contain_comp img, .contain_contact img {
  margin-bottom: 20px;
}

.content_home {
  display: flex;
  margin-top: 40px;
}

.home_img {
  border-radius: 50%;
  filter: brightness(0.8);
}

.description {
  padding: 20px;
}

.btn, .form_submit {
  width: 100px;
  height: 30px;
  color: white;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 2px 2px 2px #d0d0d0, -2px -2px 2px #f8f8f8;
}
.btn:hover, .form_submit:hover {
  box-shadow: inset 2px 2px 2px #d0d0d0, inset -2px -2px 2px #f8f8f8;
}

/************************  PROJECTS  ************************/
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.card {
  height: 300px;
  width: auto;
  position: relative;
  margin: 0 10px 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 7px 7px 7px #a5a5a5, -7px -7px 7px #d4d4d4;
}
.card img {
  transition: all 1s;
}
.card:hover .card_text {
  opacity: 1;
}
.card:hover img {
  transform: scale(1.1);
}

.card_text {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s;
}

/************************  COMPETENCES  ************************/
.competences {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
}

.competences_graph_title {
  text-align: center;
}

.bar_competences {
  width: 500px;
  height: 30px;
  margin: 10px auto 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #d0d0d0, -2px -2px 2px #f8f8f8;
}
.bar_competences div {
  height: 30px;
  background-color: skyblue;
  border-radius: 10px;
}

.html {
  width: 80%;
}

.wordpress {
  width: 50%;
}

.javascript {
  width: 70%;
}

.php {
  width: 70%;
}

.symfony {
  width: 30%;
}

/************************  CONTACT  ************************/
.contain_contact h1 {
  height: 50px;
  line-height: 50px;
}

.message_submitted, .message_error {
  background-color: rgba(169, 247, 169, 0.5);
  color: #3b8416;
  width: 300px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  font-weight: bold;
  display: none;
  margin-bottom: 0 !important;
}

.message_error {
  background-color: rgba(255, 0, 0, 0.6);
  color: #b90808;
  width: 400px;
}

.contain form {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 75%;
  display: grid;
  grid-column-gap: 10px;
  grid-template-areas: "a b" "c c" "d d";
}

.contact_name {
  grid-area: a;
}

.contact_email {
  grid-area: b;
}

.contact_message {
  grid-area: c;
}

.contact_submit {
  grid-area: d;
  width: 100px;
  margin: auto;
}

.form_input, .form_textarea {
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  outline-style: none;
  box-sizing: border-box;
  border: none;
  box-shadow: 2px 2px 2px #d0d0d0, -2px -2px 2px #f8f8f8;
}
.form_input:focus, .form_textarea:focus {
  box-shadow: inset 2px 2px 2px #d0d0d0, inset -2px -2px 2px #f8f8f8;
}

.form_textarea {
  height: 200px;
  resize: none;
}

.form_submit {
  outline-style: none;
  margin: auto !important;
  color: black;
  background-color: white;
}

::placeholder {
  color: black;
}

.form_error {
  color: red;
}

/************************  FOOTER  ************************/
.footer {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  margin-left: 20px;
  margin-right: 20px;
}

/******************* SWUP ***********************/
.transition-top {
  transition: 0.8s;
  transform: translateY(0);
}

html.is-animating .transition-top {
  opacity: 0;
  transform: translateY(100%);
}

html.is-leaving .transition-top {
  opacity: 0;
  transform: translateY(-100%);
}

/*# sourceMappingURL=style.css.map */
